modules = ["php-8.2", "nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "QuickStay Symfony Server"

[[workflows.workflow]]
name = "QuickStay Symfony Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd quickstay22-1zipzip/quickstay22-1zip/symfony && php -S 0.0.0.0:5000 -t public"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39353
externalPort = 3000
