parameters:
    app.uploads_directory: '%kernel.project_dir%/public/uploads'
    app.properties_directory: '%kernel.project_dir%/public/uploads/properties'
    app.avatars_directory: '%kernel.project_dir%/public/uploads/avatars'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Service\FileUploader:
        arguments:
            $targetDirectory: '%app.properties_directory%'
